<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
      <a href="/" class="text-blue-500 inline-block mb-10"
        >Go back to task list</a
      >
      <form action="/edit" method="post">
        <input
          class="block px-5 py-2 bg-zinc-800 rounded-lg w-2/4"
          type="text"
          name="old_title"
          placeholder="title"
          value="<%= filename%>"
          readonly
        />
        <input
          class="block px-5 py-2 bg-zinc-800 rounded-lg w-2/4 mt-3"
          type="text"
          name="newtitle"
        />
        <input
          class="bg-yellow-600 px-5 py-2 mt-2 rounded-md"
          type="submit"
          value="update filename"
        />
      </form>
    </div>
  </body>
</html>
